<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Random Joke</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container my-5">
    <h1 class="text-center">Random Joke</h1>
    <div class="card mx-auto" th:if="${joke}">
        <div class="card-body">
            <h5 class="card-title">Set up:</h5>
            <p class="card-text" th:text="${joke.setup}"></p>
            <h5 class="card-title">Punchline:</h5>
            <p class="card-text" th:text="${joke.punchline}"></p>
        </div>
    </div>
    <div class="my-3 text-center" th:if="${joke == null}">
        <p>Sorry, no joke found.</p>
    </div>
    <div class="container my-5">
        <div class="text-center">
            <button class="btn btn-primary" onclick="window.location.reload()">Get Another Joke</button>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
